In [29]:
import pandas as pd
import numpy as np
import os
from openpyxl import Workbook
import datetime

In [60]:
begin = datetime.date(2019, 1, 1)
end = datetime.date(2019, 12, 31)

next_day = begin

allday = []
allweek = []
allmonth = []


while True:
    if next_day > end:
        break
    allday.append(next_day.strftime('%d'))
    allweek.append(next_day.strftime('%V'))
    allmonth.append(next_day.strftime('%m'))
    next_day += datetime.timedelta(days=1)
allyear = pd.DataFrame()
allyear['DiaNumero'] = allday 
allyear['SemanaNumero'] = allweek 
allyear['MesNumero'] = allmonth

In [64]:
allyear.tail()

    DiaNumero SemanaNumero MesNumero
360        27           52        12
361        28           52        12
362        29           52        12
363        30           01        12
364        31           01        12